<% #Provide the page title in a symbol to application.html.erb to avoid duplication    %>
<% provide :title, 'Welcome to episco+' %>

<div class="row relative">

  <div class="columns large-5">
    <h2 class="motto">Accedi a episco+</h2>
  </div>

  <div class="columns large-7">

    <div class="panel">
      <%= render 'new' %>
    </div>
    <p class="center">New user? <%= link_to 'Sign up now!', signup_path %></p>
  </div>


</div>
