<%# Preview of a like %>
<li class="row post like">
  <% doc = like.doc %>
  <% user = like.relatedUser %>
  <div class="small-2 columns user-image"><%= link_to gravatar_for(user), user %></div>
  <div class="small-10 columns">
    <span class="title-presentation">A
      <%= link_to "#{user.honorific} #{user.name} #{user.surname}", user, class: 'user-name' %>
      e ad altri <%= doc.likes.count %> piace un elemento</span>
    <ul class="no-bullet like-inner"><%= render doc %></ul>
  </div>
</li>