<li class="user">
  <%= gravatar_for user, size: 50 %>
  <%= link_to "#{user.honorific} #{user.name} #{user.surname}", user %>
  <% if current_user.admin? && !current_user?(user) %>
      <% # since browsers cannot send DELETE request, Rails fakes them with javascript...  %>
      | <%= link_to 'delete', user, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</li>