<% #Provide the page title in a symbol to application.html.erb to avoid duplication      %>
<% provide :title, 'All Users' %>

<div class="panel">
  <h1>All users</h1>

  <%= foundation_paginate(@users) %>

  <ul class="users no-bullet">
    <%= render @users %>
  </ul>

  <%= foundation_paginate(@users) %>
</div>