<% #Provide the page title in a symbol to application.html.erb to avoid duplication    %>
<% provide :title, 'All Users' %>

<h1>All users</h1>

<%= foundation_paginate(@users) %>

<ul class="users">
  <%= render @users %>
</ul>

<%= foundation_paginate(@users) %>
