<% provide :title, 'Welcome to episco+' %>

<%= render 'shared/error_messages' %>

<div class="row relative">

  <div class="columns large-4">
    <h2 class="motto">Registrati a episco+</h2>
  </div>

  <div class="columns large-8">

    <div class="panel">
      <%= render 'new' %>
    </div>
  </div>


</div>