<% # handle and show forms errors    %>
<% errors = @user.errors if @user %>
<% errors = @sermon.errors if @sermon %>

<% if errors && errors.any? %>
    <div data-alert class="alert-box error">
      Il form contiene <%= pluralize(errors.count, "errore", "errori") %>.
      <ul>
        <% errors.full_messages.each do |message| %>
            <li>Il campo <%= message %></li>
            <% logger.debug(message) %>

        <% end %>
      </ul>
      <%= link_to image_tag("icon/close.png"), "#", :class => "close" %>
    </div>
<% end %>