<% if @feed_items.any? %>
    <ul class="posts no-bullet">
      <%= render @feed_items %>
    </ul>
    <%= foundation_paginate @feed_items %>
<% else %>
    <p>Niente di nuovo, per il momento.</p>
<% end %>