<div class="audio_skin audio_control_bar ">
  <!--div play-->
  <div class="audio_play_control audio_control" aria-live="polite" tabindex="0">
    <div class="audio_control_content">
      <span class="audio_control_text">Play</span>
    </div>
  </div>

  <!--div currentTime-->
  <div class="audio_current-time audio_time-controls audio_control">
    <div class="audio_current-time-display" aria-live="off">
      <span class="audio_control_text">Current Time </span>0:00
    </div>
  </div>

  <!--div divider-->
  <div class="audio_time-divider">
    <div><span>/</span></div>
  </div>

  <!--div passedTime-->
  <div class="audio_duration audio_time-controls audio_control">
    <div class="audio_duration-display" aria-live="off">
      <span class="audio_control-text">Duration Time </span>0:00
    </div>
  </div>


  <!--div progress bar-->
  <div class="audio_progress-control audio_control">
    <div aria-valuenow="NaN" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="audio_progress-holder audio_slider" aria-label="video progress bar" aria-valuetext="0:00">
      <div class="audio_load-progress" style="width: 4.68%;">
        <span class="audio_control-text">Loaded: 0%</span>
      </div>
      <div class="audio_play-progress" style="width: 0.53%;">
        <span class="audio_control-text">Progress: 0%</span>
      </div>
      <div class="audio_seek-handle audio_slider-handle" style="left: 0%;">
        <span class="audio_control-text">00:00</span>
      </div>
    </div>
  </div>

  <!--div volume-->
  <div class="audio_volume-control audio_control">
    <div aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="audio_volume-bar audio_slider" aria-label="volume level" aria-valuetext="100%">
      <div class="audio_volume-level" style="width: 95%;">
        <span class="audio_control-text"></span>
      </div>
      <div class="audio_volume-handle audio_slider-handle" style="left: 100%;">
        <span class="audio_control-text">00:00</span>
      </div>
    </div>
  </div>

  <!--div mute-->
  <div class="audio_mute-control audio_control" aria-live="polite" tabindex="0">
    <div>
      <span class="audio_control-text">Mute</span>
    </div>
  </div>

</div>


