<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="field span7">
      <%= f.text_area :content, placeholder: 'What are you doing?' %>
    </div>
    <div class="span2">
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>