<%= form_for(@post) do |f| %>
    <div class="row">
      <div class="field large-9 small-8 columns">
        <%= f.text_area :content, placeholder: 'Cosa stai facendo?', maxlength: '400', required: 'required' %>
      </div>
      <div class="large-3 small-4 columns publish-button">
        <%= f.submit 'Pubblica', class: 'small button', style: 'margin:8px 0;' %>
      </div>
    </div>
    <div class="write-sermon-link row"><span>o</span> <%= link_to 'scrivi una omelia', new_sermon_path %></div>

<% end %>
