<% # we are going to use this partial in the home and in the user profile;
   # in the home @user is nil and needs to be filled   %>
<% @user ||= current_user %>
<div class="stats">

  <% fdHref = "href=#{following_user_path(@user)}" if @user.followed_users.count > 0 %>
  <a <%= fdHref %> >
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>

  <% fwHref = "href=#{followers_user_path(@user)}" if @user.followers.count >0 %>
  <a <%= fwHref %>>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>

</div>