<% # form_tag is equivalent to form_for, but it is used for generic form, without a model behind
   # a search form always uses a GET method  %>
<%= form_tag search_path, method: 'get', class: 'navbar-search pull-left' do %>
    <div class="row collapse">

      <div class="small-8 columns">
        <% # text_field_tag: the first parameter is the id/name of the input tag; the second is the value of the tag      %>
        <%= text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Search' %>
      </div>

      <div class="small-4 columns">
        <%= submit_tag 'Cerca', class: 'alert button' %>
      </div>

    </div>
<% end %>

