<% if signed_in? %>

    <div id="dashboard">
      <div class="row">
        <aside class="span3">
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
            <%= render 'shared/stats' %>
          </section>
        </aside>
        <div class="span9">
          <%= render 'shared/post_form' %>
          <h3>Wall</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
<% end %>