<% #Provide the page title in a symbol to application.html.erb to avoid duplication    %>
<% provide :title, 'Scrivi omelia' %>

<%= render 'shared/error_messages' %>

<div class="row">

  <div class="columns large-12">
    <h2 class="motto full">Scrivi la tua omelia</h2>
  </div>

  <div class="columns large-12">

    <div class="panel">
      <%= render 'new' %>
    </div>
  </div>


</div>


