<section class="sermon">


  <div class="row">


    <div class="large-7 pull-5 columns">


        <div class="panel">
          <%= render 'show' %>
        </div>


    </div>
  </div>

</section>

