<div class="row">

  <div class="large-8 push-4 columns">
    <%= render "show" %>
  </div>

  <div class="large-4 pull-8 columns">
    <%= render 'users/most_active' %>
    <%= render 'shared/tag_cloud' %>
    <%= render 'sermons/top_sermons' %>
  </div>

</div>

