@import "foundation";
@import "foundation/components/alert-boxes";

$darkred: #690000;
$primary-color: $darkred;
$mediumred: #8c0000;
$grey: #4c4c4c;
$lightgrey: #cccccc;
$darkgrey: #2b2b2b;
$darkergrey: #1c1c1c;
$darkerergrey: #131313;
$white80: rgba(255, 255, 255, 0.8);

$lightBorder: 1px solid $lightgrey;

/* general */

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: url("../assets/backgrund.png") repeat;
  max-width: 100%;
}

/* header */
header {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1em;
  background: #{$darkred};
  box-shadow: 0 -2px 5px 5px rgb(54, 53, 53);
  -moz-box-shadow: 0 -2px 5px 5px rgb(54, 53, 53);

  @media only screen and (min-width: 58.75em) {
    background: url("../assets/header.png") center center no-repeat;
    background-size: cover;
  }

  .contain-to-grid {
    background: transparent;
    nav.top-bar {
      height: 45px;
      max-width: 100em;
      &.expanded {
        height: auto;
        @media only screen and (min-width: 58.75em) {
          height: 120px;
        }
        .title-area {
          background: transparent;
        }
      }
      @media only screen and (min-width: 58.75em) {
        height: 120px;
      }
      background-color: transparent;
      .title-area {
        @media only screen and (min-width: 58.75em) {
          max-width: 320px;
          width: 26%;
          min-width: 151px;
          height: 100%;
        }
        .name {
          @media only screen and (min-width: 58.75em) {
            height: 100%;
          }
          h1 a {
            width: 100px;
            background: $grey; /* Old browsers */
            background: -moz-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey), color-stop(14%, $darkgrey), color-stop(36%, $darkergrey), color-stop(100%, $darkerergrey)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* IE10+ */
            background: linear-gradient(to bottom, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* W3C */
            @media only screen and (min-width: 58.75em) {
              background: transparent;
              width: auto;
            }
          }
        }

      }
      section.top-bar-section {
        @media only screen and (min-width: 58.75em) {
          float: right;
          min-width: 680px;
          width: 60%;
          background-color: black;
          margin-top: 75px;
        }
        >ul>li>a {
          @media only screen and (min-width: 58.75em) {
            padding: 0 10px;
            font-size: 0.6em;
          }
          img {
            vertical-align: middle;
          }

        }
        .settings {
          @media only screen and (min-width: 58.75em) {
            a.icon-anchor {
              padding: 0 !important;
              width: 30px;
              background: #111 url("../assets/icon/settings.png") center center no-repeat;
              text-indent: -99999px;
              &:hover {
                background-color: transparent;
              }
              &:after {
                content: normal;
              }
            }
          }
        }
        .top-search {
          @media only screen and (min-width: 58.75em) {
            padding-left: 8px;
            padding-right: 0;
          }
          .alert.button {
            font-size: 0.875em;
          }
        }
        .with-notify {
          position: relative;
          .notify {
            position: absolute;
            border-radius: 0.8em;
            min-width: 1.5em;
            text-align: center;
            color: $darkergrey;
            background-color: #ffffff;
            font-size: 0.8em;
            padding: 0 0.4em;
            top: 50%;
            margin-top: -0.8em;
            right: 1em;
            font-weight: bold;

            @media only screen and (min-width: 58.75em) {
              color: #ffffff;
              background-color: $darkred;
              font-size: 0.6em;
              padding: 0 0.2em;
              top: 0.5em;
              right: 0.3em;
              margin: 0;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

}

#logo {
  padding: 10px 0;
  max-height: 100%;
}

/* commons */
form {
  margin: 0;
}

textarea {
  resize: none;
}

.pagination li.current a {
  background-color: $darkred;
}

.timestamp {
  font-size: 0.9em;
  color: $grey;
}

div.alert-box.error {
  @include alert-base;
  @include alert-style(#ff0020);
  .close {
    @include alert-close;
  }
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.gravatar {
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.small.button {
  $padding: $button-sml;
  $bg: $mediumred;
  $radius: 5px;
  $full-width: false;
  $disabled: false;
  $is-input: true;
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
  margin-bottom: 0;
}

.small.button.grey {
  $padding: $button-sml;
  $bg: $darkgrey;
  $radius: 5px;
  $full-width: false;
  $disabled: false;
  $is-input: true;
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}

.left-border {
  border-left: $lightBorder;
}

a {
  color: $mediumred;
  &:hover {
    color: darken($primary-color, 5%);
  }
}

h2.motto {
  background: $white80;
  text-align: center;
  padding: 10px;
  @media #{$small} {
    margin-right: -40px;
  }
}

.motto.full {
  background: $white80;
  text-align: center;
  padding: 10px;
  margin-right: 3px;
}

section.sermon {
  .panel {
    @media #{$small} {
      padding-right: 0;
    }
  }
}

.panel.author-panel {
  background-color: $white80;
  margin-top: -20px;
  margin-right: -5px;

  padding: 0.8em;
  .image {
    height: 52px;
    float: left;
    margin-right: 0.3em;
  }
  .text {
    float: left;
    @media #{$small} {
      float: none;
    }
    .name {
      margin-bottom: 0;
    }
    .role {
      font-size: 0.9em;
      color: $grey;
    }
  }

  .buttons-container {
    float: right;
    margin: 0.5em;
    @media #{$small} {
      margin: 0 0.5em;
    }
  }
}

.row.relative {
  position: relative;
}

p.center {
  text-align: center;
}

//tag cloud

.tag_cloud {
  line-height: 1.6em;
  text-align: center;
  .s {
    font-size: 0.8em;
  }
  .m {
    font-size: 1.2em;
  }
  .l {
    font-size: 1.9em;
  }
}

.round.alert.label {
  background-color: $mediumred;
  font-size: 0.7em;
  text-transform: uppercase;
}

//datepicker

.ui-datepicker .ui-datepicker-header {
  background-image: url(../assets/backgrund_datepicker.png);
}

.ui-datepicker .ui-datepicker-prev span {
  background: url("/assets/icon/arrow-left-alt1.png") center center no-repeat;
}

.ui-datepicker .ui-datepicker-next span {
  background: url("/assets/icon/arrow-right-alt1.png") center center no-repeat;
}

.ui-datepicker .ui-datepicker-title {
  color: $mediumred;
}

.ui-datepicker table {
  color: $mediumred;
}

.ui-datepicker th {
  color: $mediumred;
}

.ui-datepicker td {
  color: $mediumred;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: url(../assets/background_datepicker.png);
}

img.ui-datepicker-trigger {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.row.collapse {
  img.ui-datepicker-trigger {
    top: 10px;
    right: 10px;
  }
}

/*tag_list*/
div.tagsinput {
  border: 1px solid #cccccc;
  background: white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 1em;
}

input#tags_tag {
  border: transparent;
  font-size: 0.875em;
  width: 320px;
  font-size: 0.875em;
}

div.tagsinput span.tag {
  border: 1px solid $darkgrey;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  background: $grey;
  color: $white80;
  margin-right: 5px;
  margin-bottom: 5px;
}

div.tagsinput span.tag a {
  font-weight: bold;
  color: $white80;
  text-decoration: none;
}

div.tagsinput input {
  padding: 5px;
  color: #000;
  outline: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}

div.tagsinput div {
  display: inline-block;
}

.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}

.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

/*info_dropdown*/

div.info_dropdown {
  background-color: $white80;
  padding: 20px;
  -moz-box-shadow: 4px 4px 15px $darkerergrey;
  -webkit-box-shadow: 4px 4px 15px $darkerergrey;
  box-shadow: 4px 4px 15px $darkerergrey;
  .row {
    .row {
      margin: 0 -0.5em;
    }
    .columns {
      position: relative;
    }
  }
}

.more_info_dropdown {
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms; /* Safari and Chrome */
  cursor: pointer;
}

.more_info_dropdown.rotate {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
}

/* -----------------------------------------------------------
START audio player*/

.audio_player {
  background-color: #000;
  position: relative;
  padding: 0;
  /* Start with 10px for base font size so other dimensions can be em based and easily calculable. */
  font-size: 10px;
  /* Allow poster to be vertially aligned. */
  vertical-align: middle;
  /*  display: table-cell; */
  /*This works in Safari but not Firefox.*/

  /* Turn off user selection (text highlighting) by default.
     The majority of player components will not be text blocks.
     Text areas will need to turn user selection back on. */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

.audio_skin.audio_control_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 2.0em;
  background: rgba(255, 255, 255, 0.8);
}

.audio_control {
  outline: none;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.0em;
  width: 4em;
}

/* Replacement for focus outline */
.audio_skin .audio_control_content {
  -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0 1em rgba(255, 255, 255, 1);
  box-shadow: 0 0 1em rgba(255, 255, 255, 1);
}

/* Hide control text visually, but have it available for screenreaders: h5bp.com/v */
.audio_skin .audio_control_text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Play/Pause*/
.audio_skin .audio_play_control {
  width: 5em;
  cursor: pointer;
  background: url("player/play.png") no-repeat center;
}

.audio_skin.audio_playing .audio_play_control {
  background: url("player/pause.png") no-repeat center; /* Pause Icon */
}

/* Time Display */
.audio_skin .audio_time-controls {
  font-size: 1em;
  line-height: 3em;
}

.audio_skin .audio_current-time {
  float: left;
}

.audio_skin .audio_duration {
  float: left;
}

.audio_time-divider {
  float: left;
  line-height: 3em;
}

.audio_skin .audio_progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  font-size: 0.3em;
  height: 1em;
  /* Set above the rest of the controls. */
  top: -1em;

  /* Shrink the bar slower than it grows. */
  -webkit-transition: top 0.4s, height 0.4s, font-size 0.4s, -webkit-transform 0.4s;
  -moz-transition: top 0.4s, height 0.4s, font-size 0.4s, -moz-transform 0.4s;
  -o-transition: top 0.4s, height 0.4s, font-size 0.4s, -o-transform 0.4s;
  transition: top 0.4s, height 0.4s, font-size 0.4s, transform 0.4s;

}

/* On hover, make the progress bar grow */
.audio_skin:hover .audio_progress-control {
  font-size: .9em;

  /* Even though we're not changing the top/height, we need to include them in
      the transition so they're handled correctly. */
  -webkit-transition: top 0.2s, height 0.2s, font-size 0.2s, -webkit-transform 0.2s;
  -moz-transition: top 0.2s, height 0.2s, font-size 0.2s, -moz-transform 0.2s;
  -o-transition: top 0.2s, height 0.2s, font-size 0.2s, -o-transform 0.2s;
  transition: top 0.2s, height 0.2s, font-size 0.2s, transform 0.2s;
}

/* Box containing play and load progresses. Also acts as seek scrubber. */
.audio_skin .audio_progress-holder {
  height: 100%;
}

/* Progress Bars */
.audio_skin .audio_progress-holder .audio_play-progress,
.audio_skin .audio_progress-holder .audio_load-progress {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}

.audio_skin .audio_play-progress {
  /*
    Using a data URI to create the white diagonal lines with a transparent
      background. Surprising works in IE8.
      Created using http://www.patternify.com
    Changing the first color value will change the bar color.
    Also using a paralax effect to make the lines move backwards.
      The -50% left position makes that happen.
  */
  background: #8c0000
    url(data:images/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC)
    -50% 0 repeat;
}

.audio_skin .audio_load-progress {
  background: rgba(255, 255, 255, 0.4); /* IE8- Fallback */
  background: rgba(255, 255, 255, 0.4);
}

.audio_skin .audio_seek-handle {
  width: 1.5em;
  height: 100%;
}

.audio_skin .audio_seek-handle:before {
  padding-top: 0.1em; /* Minor adjustment */
}

/* Volume/Mute */
.audio_skin .audio_mute-control,
.audio_skin .audio_volume-menu-button {
  cursor: pointer;
  float: right;
}

.audio_skin .audio_mute-control,
.audio_skin .audio_volume-menu-button {
  background: url("player/volume-high.png") no-repeat center; /* Full volume */
}

.audio_skin .audio_mute-control.audio_vol-0,
.audio_skin .audio_volume-menu-button.audio_vol-0 {
  background: url("player/volume-zero.png") no-repeat center; /* No volume */
}

.audio_skin .audio_mute-control.audio_vol-1,
.audio_skin .audio_volume-menu-button.audio_vol-1 {
  background: url("player/volume-low.png") no-repeat center; /* Half volume */
}

.audio_skin .audio_mute-control.audio_vol-2,
.audio_skin .audio_volume-menu-button.audio_vol-2 {
  background: url("player/volume-medium.png") no-repeat center; /* Full volume */
}

.audio_skin .audio_volume-control {
  width: 5em;
  float: right;
}

.audio_skin .audio_volume-bar {
  width: 5em;
  height: 0.6em;
  margin: 1.1em auto 0;
}

.audio_skin .audio_volume-menu-button .audio_menu-content {
  height: 2.9em;
}

.audio_skin .audio_volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5em;

  background: #8c0000
    url(data:images/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC)
    -50% 0 repeat;
}

.audio_skin .audio_volume-bar .audio_volume-handle {
  width: 0.5em;
  height: 0.5em;
}

.audio_skin .audio_volume-menu-button .audio_menu .audio_menu-content {
  width: 6em;
  left: -4em;
}

/* Loading Spinner
---------------------------------------------------------*/
.audio_loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 5em;
  line-height: 1;

  width: 1em;
  height: 1em;

  margin-left: -0.5em;
  margin-top: -0.5em;

  opacity: 0.75;

  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

.audio_default-skin .audio_loading-spinner:before {
  content: "\e00a"; /* Loading spinner icon */
  font-family: VideoJS;

  position: absolute;
  width: 1em;
  height: 1em;
  text-align: center;
  text-shadow: 0em 0em 0.1em #000;
}

/* Add a gradient to the spinner by overlaying another copy.
   Text gradient plus a text shadow doesn't work
   and `background-clip: text` only works in Webkit. */
.audio_default-skin .audio_loading-spinner:after {
  content: "\e00a"; /* Loading spinner icon */
  font-family: VideoJS;

  position: absolute;
  width: 1em;
  height: 1em;
  text-align: center;

  /*-webkit-background-clip: text;*/
  -webkit-text-fill-color: transparent;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* END AUDIO PLAYER
-------------------------------------------------------------------------------- */

/* wrapper */

div.wrapper.columns {
  @media only screen and (min-width: 58.75em) {
    padding: 30px 0;
  }
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 1000px;
  margin: 0 auto 5em;
}

.container {
  min-height: 100%;
  margin-bottom: -50px;
  position: relative;
}

.clearfooter {
  height: 50px;
  clear: both;
}

/* footer */

footer.row {
  max-width: 100%;
  height: 50px;
  position: relative;

  margin-bottom: 0;
  font-size: 1em;
  color: white;
  background: $grey; /* Old browsers */
  background: -moz-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey), color-stop(14%, $darkgrey), color-stop(36%, $darkergrey), color-stop(100%, $darkerergrey)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* IE10+ */
  background: linear-gradient(to bottom, $grey 0%, $darkgrey 14%, $darkergrey 36%, $darkerergrey 100%); /* W3C */
}

.panel {
  border-radius: 15px;
  -moz-box-shadow: 4px 4px 15px $darkerergrey;
  -webkit-box-shadow: 4px 4px 15px $darkerergrey;
  box-shadow: 4px 4px 15px $darkerergrey;

}

/* home page pre-login */
#pre-login-home {
  max-width: none;
  padding-top: 20px;
  padding: 0;
  position: relative;
  @media #{$small} {
    background: url('home/home_02.jpg') bottom left no-repeat;
    background-size: cover;
  }
  #sign-area {
    @media #{$small} {
      margin-top: 1.6em;
    }

  }
  #signin {

  }

  #signup {

  }

  #welcome {
    padding: 0;
    @media #{$small} {
      position: absolute;
      top: 50%;
    }

    .motto {
      background: $white80;
      text-align: center;
      padding: 10px;
      @media #{$small} {
        text-align: left;
        position: absolute;
        top: 35px;
        right: -15px;
        padding: 10px 20px;
      }
    }

    .logo {
      text-indent: -9999px;
      background: $white80 url("logo-episco+.png") center center no-repeat;
      background-size: auto 90%;
      height: 100px;
      margin-top: 0;
      @media #{$small} {
        width: 400px;
        position: absolute;
        bottom: 100px;
      }
    }

  }
}

/* Profile */
.profile {
  .main-info {
    text-align: center;
    .panel {
      width: 100%;
    }
    @media #{$small} {
      text-align: left;
      ul {
        margin: 0;
        li {
          &:nth-last-child(2) {
            float: left;
          }
        }

      }
      .buttons-container {
        float: right;
      }
    }
  }
  .image {
    text-align: center;
    @media #{$small} {
      float: left;
      margin: auto 1em auto 0;
    }
  }
}

/* Post */
.post.row {
  padding: 1em 0;
  margin: 0;
  border-bottom: $lightBorder;
  &:last-child {
    border-bottom: none;
  }
  .columns {
    padding: 0;
  }
  .user-image {
    text-align: center;
  }
  .user-name {
    margin-bottom: 0.2em;
    font-weight: bold;
  }
  .timestamp {
    color: $grey;
  }
}

.new_post {
  border-bottom: $lightBorder;
  .field {
  }
  .publish-button {
  }
  .write-sermon-link {
    text-align: center;
    margin-bottom: 1em;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.no-post {
  margin: 10px 0;
}

/* Users */
.num-follow {
  float: right;
  font-size: 0.8em;
  line-height: 1.2em;
}

.user {
  padding: 5px 0 10px;
  border-bottom: $lightBorder;
  &.row {
    margin: 0;
  }
  .gravatar-cont {
    float: left;
    img {
      vertical-align: middle;
    }
  }
  .user-name {
    margin-left: 5px;
    font-weight: bold;
    @media #{$small} {
      float: left;
      line-height: 50px;
    }
  }
  .informations {
    @media #{$small} {
      float: left;
      line-height: 50px;
    }
    .additional-info {
      color: $grey;
      float: left;
      font-size: 0.8em;
      margin-left: 5px;

      span {
        white-space: nowrap;

        &:after {
          content: " - ";
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }
  .follow_form_container {
    float: right;
    @media #{$small} {
      line-height: 50px;
    }
    input.button.small {
      margin: 0.5em 0 0;
      float: right;
    }
  }
}

.users.small {
  .additional-info {
    span {
      display: none;
      &:first-child {
        display: inline;
        &:after {
          content: "";
        }
      }
    }
  }
  .user-name {
    float: none;
    margin-top: 0.5em;
    margin-left: 0.5em;
    line-height: 1em;
  }
  .informations {
    float: none;
  }
  input.button.small {
    font-size: 0.7em;
    margin-top: 1em;
  }
  @media #{$small} {
    .informations {
      line-height: 1em;
    }
    .additional-info {
      margin-left: 0.5em;
    }
    .user-name {
      margin-top: 0.5em;
      margin-left: 0.5em;
      line-height: 1em;
      min-width: 75%;
    }
  }
}

.user-info {
  .row {
    margin: 0;
    &:first-child {
      border-top: 0;
    }
  }
  .stats {
    border-top: $lightBorder;
    margin-top: 0.5em;
    padding-top: 0.5em;
    a, span {
      display: inline-block;
      padding: 0.3em;
      text-align: center;
      font-size: 0.8em;
      strong {
        display: block;
        font-size: 1.4em;
      }
    }
  }
  h4 {
    color: inherit;
  }
}

/* Likes */
.like-btn {
  display: inline-block;
}

/* Sermons */
.more {
  display: none;
}

.sermon.preview {
  .title, .subtitle {
    margin-bottom: 0;
    float: left;
    clear: left;
  }
  .subtitle {
    margin-top: 0.75em;
  }
  .author {
    float: left;
    clear: right;
    margin-top: 0.4em;
    margin-left: 0.5em;
  }
  .content {
    clear: both;
  }
}

.sermons.small {
  .text {
    padding-left: 0.5em;
  }
  .author {
    float: none;
    font-weight: normal;
    margin-left: 0;
  }
}

.most-active > div {
  text-align: center;
}

#adv-search-sermon {
  margin: 5px 0 20px;
  .more_info_dropdown {
    padding: 5px 0;
    a {
      padding-top: 2px;
      font-size: 0.8em;
    }
    img {
      vertical-align: text-top;
      transition: transform 500ms;
      -webkit-transition: -webkit-transform 500ms; /* Safari and Chrome */
      cursor: pointer;

      &.rotate {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari and Chrome */
      }
    }
  }
  .small.button {
    margin-bottom: 1em;
    width: 100%;
    @media #{$small} {
      width: auto;
    }
  }

}

/* Messages */
.message {
  border: 1px solid #f2f2f2;
  border-bottom: $lightBorder;
  border-top-width: 0;

  padding: 1em;
  cursor: pointer;
  transition: background 500ms;
  -webkit-transition: background 500ms; /* Safari and Chrome */
  &:first-child {
    border-top-width: 1px;
  }
  &:hover, &.unread {
    background: #dddddd;
    border: $lightBorder;
    border-top-width: 0;
    &:first-child {
      border-top-width: 1px;
    }
  }
  .columns {
    padding-left: 0.3em;
    padding-right: 0;
  }
  .user-name {
    color: $darkred;
    font-weight: bold;
  }
}

.openMessage {
  display: none;
}
