@import "foundation";

/* mixins, variables, etc. */

$grayMediumLight: #686868;
$grayLight: #2e2e2e;
$gray: #999999;
$grayDarker: #eaeaeb;

/* general */

html {
  overflow-y: scroll;
}

/* header */
header {
  margin-top: 0;
  font-size: 1em;
  background-color: crimson;

  .contain-to-grid {
    background: transparent;
    nav.top-bar {
      height: 45px;
      max-width: 100em;

      @media only screen and (min-width: 58.75em) {
        height: 120px;
      }
      background-color: transparent;
      .title-area {
        @media only screen and (min-width: 58.75em) {
          max-width: 320px;
          width: 30%;
          min-width: 151px;
          height: 100%;
        }
        .name {
          @media only screen and (min-width: 58.75em) {
            height: 100%;
          }
        }
      }

      section.top-bar-section {
        @media only screen and (min-width: 58.75em) {
          float: right;
          width: 657px;
          background-color: black;
          margin-top: 75px;
        }
      }
    }
  }

}

#logo {
  padding: 10px 0;
  max-height: 100%;
}

/* footer */

footer {
  //margin-top: 45px;
  //padding-top: 5px;
  //border-top: 1px solid $grayMediumLight;
  //color: $grayLight;
  //a {
  //  color: $gray;
  //  &:hover {
  //    color: $grayDarker;
  //  }
  //}
  //small {
  //  float: left;
  //}

}

.wrapper {
  max-width: 1000px;
  margin: 5em auto;
}