
<small>
  <a href="http://github.com/polito-lam/episcoplus" alt="episco+ on GitHub">episco+</a>
</small>
<nav>
  <ul>
    <li><%=link_to "Home",    root_path%></li>
    <li><%= link_to "About", about_path %></li>
    <li><%=link_to "Contact", contact_path%></li>
    <li><%=link_to "Faq",     faq_path%></li>

    <li><a href="http://bit.ly/lingambmult" alt="Linguaggi e Ambienti Multimediali">News</a></li>
  </ul>
</nav>
