
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <p>Site content &copy; 2013 episco+, inc.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%=link_to "link 1", "#" %></li>
          <li><%=link_to "link 2", "#" %></li>
          <li><%=link_to "link 3", "#" %></li>
          <li><%=link_to "link 4", "#" %></li>
        </ul>
      </div>
    </div>
  </div>


